<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="servicoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62501/servico.asmx" binding="basicHttpBinding"
                bindingConfiguration="servicoSoap" contract="ServiceReference1.servicoSoap"
                name="servicoSoap" />
        </client>
    </system.serviceModel>
</configuration>